@CHARSET "UTF-8";
#newSS {
    width:240px;
    height: 180px;
}

#newSS div {
    width:240px;
    height: 70px;
    position: relative;
}

#newSS img.a, #newSS img.a2 {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

#newSS img.a2 {
    left: 20px;
}

#newSS img.hidden {
    display: none;       
}

#newSS div:hover img.hidden {
    display: block;
}
.korpus > div, .korpus > input { display: none; }

.korpus label { padding: 5px; border: 1px solid #aaa; line-height: 28px; cursor: pointer; position: relative; bottom: 1px; background: #fff; }
.korpus input[type="radio"]:checked + label { border-bottom: 2px solid #fff; }

.korpus > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.korpus > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.korpus > input:nth-of-type(3):checked ~ div:nth-of-type(3) { display: block; padding: 5px; border: 1px solid #aaa; }