 .hosting {
    	background: #fff;
    	overflow: hidden;
   		width: 602px;
    	background: #fff;
    	box-shadow: 0 25px 40px rgba(0,0,0,0.4);
    	border-radius: 5px;
    	margin: auto;
  }

 button,html input[type="button"],input[type="reset"],input[type="submit"]{
	 cursor:pointer;
	 -webkit-appearance:button
 }
 
 button[disabled],html input[disabled]{
 	cursor:default
 }
 
 input[type="checkbox"],input[type="radio"]{
	 padding:0;
	 box-sizing:border-box
}
 input[type="search"]{
	 -webkit-box-sizing:content-box;
	 -moz-box-sizing:content-box
	 ;box-sizing:content-box;
	 -webkit-appearance:textfield
 }
 
 input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{
	 -webkit-appearance:none
 }
 
 button::-moz-focus-inner,input::-moz-focus-inner{
	 padding:0;
	 border:0
 }
 
 textarea{
	 overflow:auto;
	 vertical-align:top
 }
 table{
	 border-collapse:collapse;
	 border-spacing:0
 }


 .table{
	 border-collapse:collapse!important
 }
 
 
 .table-bordered th,.table-bordered td{
 border:1px solid #ddd!important
 	}
 }
 
 *,*:before,*:after{
	 -webkit-box-sizing:border-box;
	 -moz-box-sizing:border-box;
	 box-sizing:border-box
 }

 html{
	 font-size:62.5%;
	 -webkit-tap-highlight-color:rgba(0,0,0,0)
 }

 abbr[title],abbr[data-original-title]{
	 cursor:help;
	 border-bottom:1px dotted #999
 }
 abbr.initialism{
	 font-size:90%;
	 text-transform:uppercase
 }
 
 blockquote{
	 padding:10px 20px;
	 margin:0 0 20px;
	 border-left:5px solid #eee
 }

 blockquote p{
	 font-size:17.5px;
	 font-weight:300;
	 line-height:1.25
 }
 
 blockquote p:last-child{
 	margin-bottom:0
 }
 blockquote small{
 	display:block;
 	line-height:1.428571429;
 	color:#999
 }

 blockquote.pull-right{
	 padding-right:15px;
	 padding-left:0;
	 border-right:5px solid #eee;
	 border-left:0
 }

 input[type="file"]{
 	display:block
 }
 select[multiple],select[size]{
 	height:auto}
 select optgroup{
	 font-family:inherit;
	 font-size:inherit;
	 font-style:inherit
 }
 input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus{
	 outline:thin dotted #333;
	 outline:5px auto -webkit-focus-ring-color;
	 outline-offset:-2px
 }

 .form-control{
	 display:block;width:100%;
	 height:34px;padding:6px 12px;
	 font-size:14px;line-height:1.428571429;
	 color:#555;vertical-align:middle;
	 background-color:#fff;
	 border:1px solid #ccc;
	 border-radius:4px;
	 -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	 box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	 -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	 transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
 }
 
 .form-control:focus{border-color:#66afe9;
	 outline:0;
	 -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
	 box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6)
 }
 .form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control{
	 cursor:not-allowed;
	 background-color:#eee}
 textarea.form-control{
 	height:auto
 }
 .form-group{
 	margin-bottom:15px
 }
 
 .btn{
	 display:inline-block;
	 padding:6px 12px;
	 margin-bottom:0;
	 font-size:14px;
	 font-weight:normal;
	 line-height:1.428571429;
	 text-align:center;
	 white-space:nowrap;
	 vertical-align:middle;
	 cursor:pointer;
	 border:1px solid transparent;
	 border-radius:4px;
	 -webkit-user-select:none;
	 -moz-user-select:none;
	 -ms-user-select:none;
	 -o-user-select:none;
	 user-select:none
 }
 .btn:focus{
	 outline:thin dotted #333;
	 outline:5px auto -webkit-focus-ring-color;
	 outline-offset:-2px
 }
 .btn:hover,.btn:focus{
	 color:#333;
	 text-decoration:none
 }
 .btn:active,.btn.active{
	 background-image:none;outline:0;
	 -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);
	 box-shadow:inset 0 3px 5px rgba(0,0,0,0.125)
 }
 
 .btn-default{
 	color:#333;
 	background-color:#fff;
 	border-color:#ccc
 }
 
.btn-primary{
 	color:#fff;
 	background-color:#428bca;
 	border-color:#357ebd
 }
 
 .btn-lg{
	 padding:10px 16px;
	 font-size:18px;
	 line-height:1.33;
	 border-radius:6px
 }

 .btn-block{
	 display:block;
	 width:100%;
	 padding-right:0;
	 padding-left:0
 }
 